
<div class="row">
  <div class="col-9" style="float:right;">
    <table class="table">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td colspan="2"></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-3">
    <ul>Favorites
      <li>Inbox</li>
      <li>Sent Items</li>
    </ul>
    <ul>John
      <li>Inbox</li>
      <li>Drafts</li>
      <li>Deleted Items</li>
      <li>Sent Items</li>
      <li>Outbox</li>
    </ul>
  </div>
</div>
